.page1{
    height: 100vh;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}
.presentation {
    display: flex;
    height: 80%;
    width: 70%;
    margin: auto;
    align-items: center;
    background-color: antiquewhite;
}
.introduction {
    flex: 1;
    width: 80%;
    margin: auto;
    align-items: center;
    position: relative;
}
.profile-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 40vh;
}