*, *:before, *:after{
    box-sizing: border-box;
}
.page1{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.presentation {
    display: flex;
    z-index: 1;
    background-color: antiquewhite;
    transition: opacity 1.25s ease 0.125s,transform 1.25s ease 0.125s;
}
.introduction {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 3rem;
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    max-width: 35vw;
    max-height: 35vh;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 0);
    margin-right: 3rem;
    border: 10px solid white;
    border-radius: 100%;
    width: inherit;
}

.main-text{
    font-size: 4.25em;
    font-weight: 600;
    padding-bottom: 2%;
    background: linear-gradient(to right, #494965, #6f6f90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-text{
    margin-top: 10px;
    font-size: 24px;
    color: #585773;
}
#icons01{
    font-size: 2.5em;
    margin-left: -0.5rem;
}
.icons{
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}
ol, ul{
    list-style: none;
}
#icons01 li{
    margin: 0.5rem;
}
.icons li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
#icons01 li a{
    border-radius: 100%;
    width: 2em;
    height: 2em;
    transition: transform 0.5s ease, color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}
#icons01 a{
    background-color: aquamarine;
}
.icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: inherit;
    text-decoration: underline;
}
#icons01 li a svg{
    width: 60%;
    height: 60%;
    transition: fill 0.5s ease;
}
#icons01 a svg{
    fill: rgba(0, 0, 0, 0.651);
}
.icons li a svg{
    display: block;
    position: relative;
}
.icons li a .label{
    display: none;
}