@media screen and (max-width: 768px) {
    .introduction {
        width: 100vw;
        flex-direction: column;
    }
    img{
        max-width: 55vw;
        max-height: 55vh;
    }
    .text-box{
        padding-left: 0;
        text-align: center;
    }
    .main-text{
        font-size: 9vw;
    }
    .p-text{
        font-size: 5vw;
    }
    .icons{
        font-size: 6vw;
    }
}